body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  font-family: "Arial";
}
.login {
  width: 375px;
  height: 250px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background: #000000;
  border-radius: 15px;
}
h2 {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
label {
  color: #4b809e;
  font-size: 17px;
}
#Username {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#Password {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
}
#login {
  width: 300px;
  height: 80px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: rgb(105, 127, 172);
}
.button {
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 14px 36px;
  margin-top: 42px;
  margin-right: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: #1a9bf1;
  color: #ffffff;
  border-color: transparent;
}

span {
  color: rgb(238, 244, 248);
  font-size: 17px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
